<md-sidenav-layout>
  <md-sidenav>Sidenav</md-sidenav>
  <div class="app-content">
    <md-toolbar class="md-primary">Who's your ngHero?</md-toolbar>
        <md-card class="hero" *ngFor="let hero of heroes | async" align="center">
          <md-card-title>{{hero.name}} @ {{hero.rating}}</md-card-title>
          <img class="hero-pic" md-card-image [src]=hero.imageUrl>
          <md-card-content>{{hero.description}}</md-card-content>
          <md-card-actions align="end">
            <button (click)="voteUp(hero)" md-icon-button>
              <md-icon class="md-24">thumb_up</md-icon>
            </button>
            <button (click)="voteDown(hero)" md-icon-button>
              <md-icon class="md-24">thumb_down</md-icon>
            </button>
          </md-card-actions>
        </md-card>
  </div>
</md-sidenav-layout>